*.pyc
.idea/
.gitconfig
.project
.pydevproject
.directory
.vscode

# Remove this shit
hitsuki/__pycache__
hitsuki/modules/__pycache__
hitsuki/modules/helper_funcs/__pycache__
hitsuki/modules/sql/__pycache__

# Also remove this too
.bash_history
.bash_logout
.bashrc
.cloud-locale-test.skip
.profile
.pgpass
.python_history
cache/kangsticker.png
cache/sticker.png
cache/image.png
backupdb
hourly_backupdb
*-Hitsuki.backup

# Remove some configs
hitsuki/config.py
hitsuki/antispam.py
