#### Bot lib ####
git+https://github.com/intellivoid/Haruka-PTB.git
telethon
#################
aiohttp>=2.2.5
bleach
emoji
future
googletrans
hurry.filesize
markdown2
Pillow>=4.2.0
psycopg2-binary
python-rapidjson
PyYAML
requests>=2.20.0
spamwatch
sqlalchemy
tldextract
wikipedia
covid
