future
emoji
requests
sqlalchemy
python-telegram-bot
jikanpy
psycopg2-binary
feedparser
pyowm
googletrans
wikipedia
Pillow
alphabet_detector
urbandict
bs4
lxml
nltk
hurry.filesize
PyAML
markdown2
spongemock
zalgo-text
aiohttp
tldextract
